<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.terminsystem1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/tau_appointment_system"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Terminsystem1"
        android:windowSoftInputMode="adjustNothing">
        <activity android:name=".Presenter.dateSendingActivity"></activity>
        <activity android:name=".Presenter.academicLoginActivity" />
        <activity android:name=".Presenter.studentLoginActivity" />
        <activity android:name=".Presenter.studentMyAppointmentsActivity" />
        <activity android:name=".Presenter.studentAppointmentActivity" />
        <activity android:name=".Presenter.StudentHomeScreenActivity" />
        <activity android:name=".Presenter.AcademicHomeScreenActivity" />
        <activity android:name=".Presenter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>